amqp
asgiref
billiard
celery
certifi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
Django
django_celery_results
djangorestframework
idna
jalali_core
jdatetime
kombu
packaging
pillow
prompt_toolkit
psycopg2-binary
python-dateutil
python-dotenv
redis
requests
six
sqlparse
tzdata
tzlocal
urllib3
vine
wcwidth
